<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="page-title">
      Quote List
    </h2>

    <button *ngIf="isLoggedIn"
            class="btn btn-primary"
            routerLink="/quotes/add">
      Add Quote
    </button>
  </div>

  <table class="table table-bordered table-sm text-center align-middle">

    <thead class="table-dark">
      <tr>
        <th style="width: 60px;">S.No</th>
        <th>Text</th>
        
        
        <th *ngIf="isLoggedIn" style="width: 140px;">Actions</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let q of quotes; let i = index">

        <!-- S.NO -->
        <td>{{ i + 1 }}</td>

        <!-- TITLE (CENTERED) -->
        <td class="text-start">
          {{ q.text }}
        </td>

       

        <!-- ACTIONS (NO EXTRA SPACE) -->
        <td *ngIf="isLoggedIn" class="text-center p-1">

          <button class="btn btn-warning btn-sm me-1"
                  (click)="editQuote(q.id)">
            Edit
          </button>

          <button class="btn btn-danger btn-sm"
                  (click)="deleteQuote(q.id)">
            Delete
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>
